div#background {
    width: 800px;
    height: 500px;
    background-image: url('assets/background-black.png');
    position: absolute;
    margin-top: 150px;
    margin-right: 200px;
    margin-left: 200px;
}

div#gameover {
    width: 800px;
    height: 500px;
    visibility: hidden;
    background-image: url('assets/gameover.png');
    position: absolute;
    margin-top: 150px;
    margin-right: 200px;
    margin-left: 200px;
}

div#hero {
    width: 50px;
    height: 50px;
    background-image: url('assets/hero_pixel.png');
    position: absolute;
    left: 375px;
    top: 450px;
}

div#sosyalbenlogo {
    width: 250px;
    height: 150px;
    background-image: url('assets/sba.png');
    position: absolute;
    left: -80px;
    top: 0px;
}

div#health {
    width: 150px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.progress {
    color: lightblue;
    background: crimson;
  }
  
  .progress::-moz-progress-bar {
    background: lightcolor;
  }
  
  .progress::-webkit-progress-value {
    background: red;
  }

  div#hidroDegree {
    width: 150px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
}
  
  

div#h2logo {
    width: 120px;
    height: 160px;
    background-image: url('assets/h2logo.png');
    position: absolute;
    right: 10px;
    top: 0px;
}

div#missiles {
    width: 600px;
    height: 400px;
    position: absolute;
}

div#hidros {
    width: 600px;
    height: 400px;
    position: absolute;
}


div.missile1 {
    width: 10px;
    height: 30px;
    background-image: url('assets/missile_pixel.png');
    position: absolute;
}

div.hidro1 {
    width: 16px;
    height: 16px;
    background-image: url('assets/hidro_pixel.png');
    position: absolute;
}

div#enemies {
    width: 600px;
    height: 500px;
    position: absolute;
}

div#missiles_enemy {
    width: 600px;
    height: 500px;
    position: absolute;
}

div.enemy {
    width: 60px;
    height: 50px;
    background-image: url('assets/enemy_pixel.png');
    position: absolute;
}

div.missile_enemy {
    width: 10px;
    height: 20px;
    background-image: url('assets/missile_enemy_pixel.png');
    position: absolute;
}
